* {
  box-sizing: border-box;
}

body {
  padding: 40px;
}


.arrow {
  position: relative;
  width: 20vw; 
  height: 22px; 
  color: #fff;
  text-align: right;
  background-color: red;
  margin: 1px 0;
  padding: 2px 6px;
}

.arrow--right {
  &:before {
    @include triangle(right, 11px, red);
    top: 0;
    right: -22px;
  }
}
